﻿/* MEDIA QUERY 0 - 568 */

@media screen and (min-width: 0px) and (max-width: 568px) {
	.benefits {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		background: url("../images/hero_screen_bg.png") no-repeat left;
		background-size: cover;
	}

	.benefits-title {
		display: block;
		margin-top: 50px;
		text-align: center;
		margin-left: 0;
		font-family: 'Roboto-Light', sans-serif;
		font-size: 20px;
		text-transform: uppercase;
		white-space: normal;
		color: #fff;
	}

	.benefits-tip {
		display: block;
		text-align: center;
		margin-top: 50px;
		margin-left: 0;
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 18px;
		white-space: normal;
		color: #fff;
	}

	.benefits-item-first {
		position: relative;
		display: block;
		align-self: stretch;
		text-align: center;
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 18px;
		margin-top: 100px;
		margin-right: 0;
	}

	.benefits-item-first p, .benefits-item-second p, .benefits-item-third p {
		font-size: 18px;
		white-space: normal;
	}

	.benefits-item-first::before {
		content: "";
		position: absolute;
		top: -40%;
		left: 43%;
		background: url("../images/cash.png") no-repeat;
		width: 65px;
		height: 65px;
	}

	.benefits-item-second {
		position: relative;
		display: block;
		align-self: stretch;
		text-align: center;
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 18px;
		margin-top: 100px;
		margin-right: 0;
	}

	.benefits-item-second::before {
		content: "";
		position: absolute;
		top: -40%;
		left: 43%;
		background: url("../images/helmet.png") no-repeat;
		width: 65px;
		height: 65px;
	}

	.benefits-item-third {
		position: relative;
		display: block;
		align-self: stretch;
		text-align: center;
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 18px;
		margin-top: 100px;
		margin-bottom: 50px;
		margin-right: 0;
	}

	.benefits-item-third::before {
		content: "";
		position: absolute;
		top: -40%;
		left: 43%;
		background: url("../images/approve.png") no-repeat;
		width: 65px;
		height: 65px;
	}
}

/* MEDIA QUERY 569 - 1024 */

@media screen and (min-width: 569px) and (max-width: 1024px) {
	.benefits {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		background: url("../images/hero_screen_bg.png") no-repeat left;
		background-size: cover;
	}

	.benefits-title {
		display: block;
		margin-top: 50px;
		text-align: center;
		margin-left: 0;
		font-family: 'Roboto-Light', sans-serif;
		font-size: 20px;
		text-transform: uppercase;
		white-space: normal;
		color: #fff;
	}

	.benefits-tip {
		display: block;
		text-align: center;
		margin-top: 50px;
		margin-left: 0;
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 18px;
		white-space: normal;
		color: #fff;
	}

	.benefits-item-first {
		position: relative;
		display: block;
		align-self: stretch;
		text-align: center;
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 18px;
		margin-top: 100px;
		margin-right: 0;
	}

	.benefits-item-first p, .benefits-item-second p, .benefits-item-third p {
		font-size: 18px;
		white-space: normal;
	}

	.benefits-item-first::before {
		content: "";
		position: absolute;
		top: -40%;
		left: 48%;
		background: url("../images/cash.png") no-repeat;
		width: 65px;
		height: 65px;
	}

	.benefits-item-second {
		position: relative;
		display: block;
		align-self: stretch;
		text-align: center;
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 18px;
		margin-top: 100px;
		margin-right: 0;
	}

	.benefits-item-second::before {
		content: "";
		position: absolute;
		top: -40%;
		left: 48%;
		background: url("../images/helmet.png") no-repeat;
		width: 65px;
		height: 65px;
	}

	.benefits-item-third {
		position: relative;
		display: block;
		align-self: stretch;
		text-align: center;
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 18px;
		margin-top: 100px;
		margin-bottom: 50px;
		margin-right: 0;
	}

	.benefits-item-third::before {
		content: "";
		position: absolute;
		top: -40%;
		left: 48%;
		background: url("../images/approve.png") no-repeat;
		width: 65px;
		height: 65px;
	}
}

/* MEDIA QUERY 1025 - 1279 */

@media screen and (min-width: 1025px) and (max-width: 1279px) {
	.benefits {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		background: url("../images/hero_screen_bg.png") no-repeat left;
		background-size: cover;
	}

	.benefits-title {
		display: block;
		margin-top: 50px;
		text-align: center;
		margin-left: 0;
		font-family: 'Roboto-Light', sans-serif;
		font-size: 20px;
		text-transform: uppercase;
		white-space: normal;
		color: #fff;
	}

	.benefits-tip {
		display: block;
		text-align: center;
		margin-top: 50px;
		margin-left: 0;
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 18px;
		white-space: normal;
		color: #fff;
	}

	.benefits-item-first {
		position: relative;
		display: block;
		align-self: stretch;
		text-align: center;
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 18px;
		margin-top: 100px;
		margin-right: 0;
	}

	.benefits-item-first p, .benefits-item-second p, .benefits-item-third p {
		font-size: 18px;
		white-space: normal;
	}

	.benefits-item-first::before {
		content: "";
		position: absolute;
		top: -55%;
		left: 48%;
		background: url("../images/cash.png") no-repeat;
		width: 65px;
		height: 65px;
	}

	.benefits-item-second {
		position: relative;
		display: block;
		align-self: stretch;
		text-align: center;
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 18px;
		margin-top: 100px;
		margin-right: 0;
	}

	.benefits-item-second::before {
		content: "";
		position: absolute;
		top: -55%;
		left: 48%;
		background: url("../images/helmet.png") no-repeat;
		width: 65px;
		height: 65px;
	}

	.benefits-item-third {
		position: relative;
		display: block;
		align-self: stretch;
		text-align: center;
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 18px;
		margin-top: 100px;
		margin-bottom: 50px;
		margin-right: 0;
	}

	.benefits-item-third::before {
		content: "";
		position: absolute;
		top: -55%;
		left: 48%;
		background: url("../images/approve.png") no-repeat;
		width: 65px;
		height: 65px;
	}
}

/* ADDITIONAL STYLES FOR OTHER LANGUAGES IN THE LANGUAGEPICKER*/

@media screen and (min-width: 0px) and (max-width: 1279px) {
	#ukr-ben-item-first,
	#ukr-ben-item-second,
	#ukr-ben-item-third {
		min-width: initial;
	}

	#eng-ben-item-first,
	#eng-ben-item-second,
	#eng-ben-item-third {
		min-width: initial;
	}
}
