﻿/* MEDIA QUERY 0 - 900 */

@media screen and (min-width: 0px) and (max-width: 900px) {
	.clients {
		margin-bottom: 100px;
	}

	.clients-title {
		margin-top: 60px;
	}

	.clients-range {
		margin-top: 60px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
}
