﻿/* MEDIA QUERY 0 - 568 */

@media screen and (max-width: 568px) {
  .feedback-form, .benefits-feedback-form {
    position: relative;
    padding: 0px;
    opacity: 1;
    display: none;
    width: 290px;
  }
  .feedback-form input[type="text"], .feedback-form input[type="email"], .feedback-form input[type="tel"] {
    width: 200px;
    margin-top: 20px;
    margin-left: 30px;
  }
  .feedback-form button {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .feedback-form span, .benefits-feedback-form span {
    font-size: 20px;
    margin-top: 40px;
    font-family: 'Roboto-Regular', sans-serif;
  }
}