﻿/* MEDIA QUERY 0 - 900 */

@media screen and (min-width: 0px) and (max-width: 900px) {
	.page-footer {
		position: relative;
		background: url("../images/footer_bg.png") no-repeat center;
		background-size: cover;
	}

	.page-footer-title {
		margin-top: 100px;
		margin-bottom: 40px;
		text-align: center;
		font-family: 'Roboto-Light', sans-serif;
		font-size: 30px;
		font-weight: lighter;
		text-transform: uppercase;
		color: #fff;
	}

	.page-footer-title-tip {
		position: relative;
		white-space: normal;
		text-align: center;
		margin-left: 0;
		margin-bottom: 80px;
		max-width: initial;
		font-family: "Roboto-Bold", sans-serif;
		font-size: 20px;
	}

	.page-footer-title-tip::before {
		content: "";
		position: absolute;
		top: -15px;
		left: 0px;
		width: 18px;
		height: 15px;
		background: url("../images/quotes_footer.png") no-repeat;
	}

	.page-footer-title-tip::after {
		content: "";
		position: absolute;
		bottom: -15px;
		right: 5px;
		width: 18px;
		height: 15px;
		background: url("../images/quotes_footer.png") no-repeat;
	}

	.page-footer-feedback-form {
		position: relative;
		display: flex;
		align-content: stretch;
		justify-content: space-around;
		flex-direction: column;
		width: 290px;
		margin: auto;
	}

	.page-footer-feedback-form input[type="text"], .page-footer-feedback-form input[type="email"], .page-footer-feedback-form input[type="tel"] {
		display: inline-block;
		min-height: 50px;
		min-width: 210px;
		margin-right: 0px;
		margin-bottom: 20px;
		border: none;
		border-radius: 5px;
		padding-left: 40px;
		text-align: left;
		font-size: 16px;
		font-family: 'Roboto-Light', sans-serif;
		text-overflow: ellipsis;
	}

	.footer-bottom {
		display: flex;
		align-content: stretch;
		justify-content: space-around;
		flex-direction: column;
		width: 290px;
		margin-left: 0%;
		margin: auto;
		position: relative;
		font-family: 'Roboto-Regular', sans-serif;
		padding-bottom: 60px;
	}

	.footer-email, .footer-phone, .footer-adress {
		position: relative;
		font-size: 16px;
		line-height: 1;
		box-sizing: border-box;
		margin-left: 100px;
	}

	.footer-email::before {
		content: "";
		position: absolute;
		top: 18%;
		left: -100px;
		width: 60px;
		height: 50px;
		background: url("../images/mailfoot.png") no-repeat;
	}

	.footer-phone::before {
		content: "";
		position: absolute;
		top: 18%;
		left: -100px;
		width: 60px;
		height: 60px;
		background: url("../images/mobfoot.png") no-repeat;
	}

	.footer-adress::before {
		content: "";
		position: absolute;
		top: 18%;
		left: -100px;
		width: 60px;
		height: 60px;
		background: url("../images/locfoot.png") no-repeat;
	}

	.page-footer button {
		display: inline-block;
		padding: 15px 30px;
		color: #fff;
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 18px;
		background: #dc424e;
		border-radius: 5px;
		border: none;
		outline: none;
		cursor: pointer;
		margin-bottom: 30px;
	}

	.page-footer-feedback-form label#name-error {
		position: absolute;
		top: 18%;
		left: 15%;
		font-size: 12px;
		color: red;
	}

	.page-footer-feedback-form label#getGA-error {
		position: absolute;
		top: 42%;
		left: 15%;
		font-size: 12px;
		color: red;
	}

	.page-footer-feedback-form label#tel-error {
		position: absolute;
		top: 67%;
		left: 15%;
		font-size: 12px;
		color: red;
	}
}

/* MEDIA QUERY 901 - 1279 */

@media screen and (min-width: 901px) and (max-width: 1279px) {
	.page-footer {
		position: relative;
		background-size: cover;
	}

	.page-footer-title {
		margin-top: 150px;
		margin-bottom: 40px;
		text-align: center;
		font-family: 'Roboto-Light', sans-serif;
		font-size: 30px;
		font-weight: lighter;
		text-transform: uppercase;
		color: #fff;
	}

	.page-footer-title-tip {
		position: relative;
		white-space: pre-line;
		text-align: center;
		margin-bottom: 80px;
		margin-left: 0;
		max-width: initial;
		font-family: "Roboto-Bold", sans-serif;
		font-size: 20px;
	}

	.page-footer-title-tip::before {
		content: "";
		opacity: 0;
	}

	.page-footer-title-tip::after {
		content: "";
		opacity: 0;
	}

	.page-footer-feedback-form {
		position: relative;
		display: flex;
		align-content: stretch;
		justify-content: space-around;
		width: 800px;
		margin: auto;
	}

	.page-footer-feedback-form input[type="text"], .page-footer-feedback-form input[type="email"], .page-footer-feedback-form input[type="tel"] {
		display: inline-block;
		min-height: 50px;
		min-width: 100px;
		margin-right: 20px;
		border: none;
		border-radius: 5px;
		padding-left: 40px;
		text-align: left;
		font-size: 16px;
		font-family: 'Roboto-Light', sans-serif;
		text-overflow: ellipsis;
	}

	.footer-bottom {
		margin-top: 0px;
		padding-top: 30px;
		padding-bottom: 30px;
		display: flex;
		align-content: stretch;
		justify-content: space-around;
		width: 800px;
		margin-left: 0;
		margin: auto;
		position: relative;
		font-family: 'Roboto-Regular', sans-serif;
	}

	.footer-email, .footer-phone, .footer-adress {
		position: relative;
		font-size: 16px;
		line-height: 1;
		box-sizing: border-box;
		margin-left: 100px;
	}

	.footer-email::before {
		content: "";
		position: absolute;
		top: 18%;
		left: -80px;
		width: 60px;
		height: 50px;
	}

	.footer-phone::before {
		content: "";
		position: absolute;
		top: 18%;
		left: -80px;
		width: 60px;
		height: 60px;
	}

	.footer-adress::before {
		content: "";
		position: absolute;
		top: 18%;
		left: -80px;
		width: 60px;
		height: 60px;
	}

	.page-footer button {
		display: inline-block;
		padding: 15px 30px;
		color: #fff;
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 18px;
		background: #dc424e;
		border-radius: 5px;
		border: none;
		outline: none;
		cursor: pointer;
	}

	.page-footer-feedback-form label#name-error {
		position: absolute;
		top: 100%;
		left: 0%;
		font-size: 12px;
		color: red;
		z-index: 5;
	}

	.page-footer-feedback-form label#getGA-error {
		position: absolute;
		top: 100%;
		left: 26%;
		font-size: 12px;
		color: red;
		z-index: 5;
	}

	.page-footer-feedback-form label#tel-error {
		position: absolute;
		top: 100%;
		left: 53%;
		font-size: 12px;
		color: red;
		z-index: 5;
	}
}
