﻿/* MEDIA QUERY 0 - 568 */

@media screen and (min-width: 0px) and (max-width: 568px) {
	.container {
		width: 100%;
		margin: 0 auto;
		max-width: 100%;
	}

	.page_header_top {
		position: relative;
		display: none;
		flex-direction: column;
		justify-content: space-around;
	}

	.page_header_top .page_header_languagepicker {
		list-style-type: none;
		position: absolute;
		right: 20%;
		top: 100px;
	}

	.main_nav {
		order: 1;
	}

	.main_nav ul {
		margin-top: 30px;
		margin-left: -20px;
		text-align: initial;
	}

	.main_nav ul > li {
		display: block;
		margin-right: 0px;
	}

	.page_header_location {
		margin: auto;
		text-align: center;
		order: 2;
	}

	#email,
	#coordinates {
		display: block;
		position: relative;
	}

	#coordinates {
		text-align: inherit;
	}

	#email::before {
		content: "";
		position: absolute;
		left: -50px;
		top: -15px;
	}

	#coordinates::before {
		content: "";
		position: absolute;
		left: -10px;
		top: -15px;
	}

	.page_header_contacts {
		display: inline-block;
		text-align: center;
		order: 3;
		margin: auto;
	}

	.page_header_contacts::before {
		top: 30px;
		left: -35px;
	}

	.header_burger {
		display: block;
		margin: auto;
		padding-top: 10px;
	}
}

/* MEDIA QUERY 569 - 800 */

@media screen and (min-width: 569px) and (max-width: 800px) {
	.container {
		width: 100%;
		margin: 0 auto;
		max-width: 100%;
	}

	.page_header_top {
		position: relative;
		display: none;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.page_header_top .page_header_languagepicker {
		list-style-type: none;
		position: absolute;
		right: 20%;
		top: 20px;
	}

	.page_header_top .page_header_languagepicker .languagepicker_item {
		display: inline-block;
	}

	.main_nav {
		order: 1;
	}

	.main_nav ul {
		margin-top: 30px;
		margin-left: -40px;
		text-align: initial;
	}

	.main_nav ul > li {
		display: block;
		margin-right: 0px;
	}

	.page_header_location {
		order: 2;
		margin-left: 150px;
		margin-top: 60px;
	}

	#email,
	#coordinates {
		display: block;
		position: relative;
	}

	#coordinates {
		text-align: right;
	}

	#email::before {
		content: "";
		position: absolute;
		left: -50px;
		top: -15px;
	}

	#coordinates::before {
		content: "";
		position: absolute;
		left: 30px;
		top: -15px;
	}

	.page_header_contacts {
		display: inline-block;
		order: 3;
		margin-left: 62%;
		margin-top: -150px;
	}

	.page_header_contacts::before {
		top: 30px;
		left: -35px;
	}

	.header_burger {
		display: block;
		margin: auto;
		padding-top: 10px;
	}
}

/* MEDIA QUERY 801 - 900 */

@media screen and (min-width: 801px) and (max-width: 900px) {
	.container {
		width: 100%;
		margin: 0 auto;
		max-width: 100%;
	}

	.page_header_top {
		position: relative;
		display: none;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.page_header_top .page_header_languagepicker {
		list-style-type: none;
		position: absolute;
		right: 20%;
		top: 20px;
	}

	.page_header_top .page_header_languagepicker .languagepicker_item {
		display: inline-block;
	}

	.main_nav {
		order: 1;
	}

	.main_nav ul {
		margin-top: 30px;
		margin-left: -40px;
		text-align: initial;
	}

	.main_nav ul > li {
		display: block;
		margin-right: 0px;
	}

	.page_header_location {
		order: 2;
		margin-left: 150px;
		margin-top: 60px;
	}

	#email,
	#coordinates {
		display: block;
		position: relative;
	}

	#coordinates {
		text-align: right;
	}

	#email::before {
		content: "";
		position: absolute;
		left: -50px;
		top: -15px;
	}

	#coordinates::before {
		content: "";
		position: absolute;
		left: 30px;
		top: -15px;
	}

	.page_header_contacts {
		display: inline-block;
		order: 3;
		margin-left: 62%;
		margin-top: -150px;
	}

	.page_header_contacts::before {
		top: 30px;
		left: -35px;
	}

	.header_burger {
		display: block;
		margin: auto;
		padding-top: 10px;
	}
}

/* MEDIA QUERY 901 - 1024 */

@media screen and (min-width: 901px) and (max-width: 1024px) {
	.container {
		width: 100%;
		margin: 0 auto;
		max-width: 100%;
	}

	.page_header_top {
		position: relative;
		display: none;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.page_header_top .page_header_languagepicker {
		list-style-type: none;
		position: absolute;
		right: 50%;
		left: 50%;
		width: 12%;
		transform: translate(-50%, -50%);
		top: 110px;
	}

	.page_header_top .page_header_languagepicker .languagepicker_item {
		display: inline-block;
	}

	.main_nav {
		order: 1;
		width: 100%;
	}

	.main_nav ul {
		margin-top: 30px;
		margin-left: 90px;
		text-align: initial;
	}

	.main_nav ul > li {
		display: inline-block;
		margin-right: 0px;
	}

	.page_header_location {
		order: 2;
		margin-left: 50px;
		margin-top: 0px;
	}

	#email,
	#coordinates {
		display: block;
		position: relative;
	}

	#coordinates {
		text-align: right;
	}

	#email::before {
		content: "";
		position: absolute;
		left: -50px;
		top: -15px;
	}

	#coordinates::before {
		content: "";
		position: absolute;
		left: 30px;
		top: -15px;
	}

	.page_header_contacts {
		display: inline-block;
		order: 3;
		margin-left: 0px;
		margin-top: 0px;
		margin-right: 15px;
	}

	.page_header_contacts::before {
		top: 30px;
		left: -35px;
	}

	.header_burger {
		display: block;
		margin: auto;
		padding-top: 10px;
	}
}

/* MEDIA QUERY 1025 - 1360 */

@media screen and (min-width: 1025px) and (max-width: 1360px) {
	.container {
		width: 100%;
		margin: 0 auto;
		max-width: 100%;
	}

	.page_header_top {
		position: relative;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.page_header_top .page_header_languagepicker {
		list-style-type: none;
		position: absolute;
		right: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		top: 110px;
	}

	.page_header_top .page_header_languagepicker .languagepicker_item {
		display: inline-block;
	}

	.main_nav {
		order: 1;
		width: 100%;
	}

	.main_nav ul {
		margin-top: 30px;
		text-align: center;
	}

	.main_nav ul > li {
		display: inline-block;
		margin-right: 0px;
	}

	.page_header_location {
		order: 2;
		margin-left: 50px;
		margin-top: 0px;
	}

	#email,
	#coordinates {
		display: block;
		position: relative;
	}

	#coordinates {
		text-align: right;
	}

	#email::before {
		content: "";
		position: absolute;
		left: -50px;
		top: -15px;
	}

	#coordinates::before {
		content: "";
		position: absolute;
		left: 30px;
		top: -15px;
	}

	.page_header_contacts {
		display: inline-block;
		order: 3;
		margin-left: 0px;
		margin-top: 0px;
		margin-right: 15px;
	}

	.page_header_contacts::before {
		top: 30px;
		left: -35px;
	}
}

/* MEDIA QUERY 1361 - 1440 */

@media screen and (min-width: 1361px) and (max-width: 1440px) {
	.page_header_location {
		margin-left: 30px;
	}

	.page_header_top .page_header_languagepicker {
		list-style-type: none;
		position: absolute;
		right: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		top: 0px;
		width: 10%;
	}

	.page_header_top .page_header_languagepicker .languagepicker_item {
		display: inline-block;
		margin-right: 10px;
	}

	.main_nav {
		margin-left: -30px;
	}
}

/* MEDIA QUERY 1441 - 1640 */

@media screen and (min-width: 1441px) and (max-width: 1640px) {
	.page_header_top .page_header_languagepicker {
		list-style-type: none;
		position: absolute;
		right: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		top: 0px;
		width: 10%;
	}

	.page_header_top .page_header_languagepicker .languagepicker_item {
		display: inline-block;
		margin-right: 10px;
	}
}

/* Styles for IE */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.page_header_top .page_header_languagepicker {
		list-style-type: none;
		position: static;
	}
}
