﻿/* MEDIA QUERY 0 - 568 */

@media screen and (min-width: 0px) and (max-width: 568px) {
	.portfolio {
		position: relative;
	}

	.order-procedure-title {
		margin-top: 150px;
		text-align: center;
		font-family: 'Roboto-Light', sans-serif;
		font-weight: lighter;
		font-size: 30px;
		text-transform: uppercase;
		color: #253c68;
	}

	.order-procedure-title strong {
		font-family: 'Roboto-Light', sans-serif;
	}

	.order-procedure {
		margin-top: 120px;
		color: black;
		font-family: 'Roboto-Light', sans-serif;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-around;
		align-content: stretch;
	}

	.order-procedure p {
		position: relative;
		white-space: pre-line;
		margin-bottom: 100px;
	}

	.order-procedure p:last-of-type {
		margin-bottom: 0px;
	}

	.order-procedure-item1::before {
		content: "";
		position: absolute;
		top: -90px;
		left: 20%;
		background: url("../images/1.png") no-repeat center;
		width: 60px;
		height: 70px;
	}

	.order-procedure-item1::after {
		content: "";
		position: absolute;
		top: -90px;
		left: 40%;
		background: url("../images/man_phone.png") no-repeat center;
		width: 140px;
		height: 60px;
	}

	.order-procedure-item2::before {
		content: "";
		position: absolute;
		top: -90px;
		left: 20%;
		background: url("../images/2.png") no-repeat center;
		width: 60px;
		height: 75px;
	}

	.order-procedure-item2::after {
		content: "";
		position: absolute;
		top: -90px;
		left: 40%;
		background: url("../images/man_call.png") no-repeat center;
		width: 140px;
		height: 60px;
	}

	.order-procedure-item3::before {
		content: "";
		position: absolute;
		top: -90px;
		left: 20%;
		background: url("../images/3.png") no-repeat center;
		width: 60px;
		height: 75px;
	}

	.order-procedure-item3::after {
		content: "";
		position: absolute;
		top: -90px;
		left: 40%;
		background: url("../images/all_men.png") no-repeat center;
		width: 140px;
		height: 60px;
	}

	.order-procedure-item4::before {
		content: "";
		position: absolute;
		top: -90px;
		left: 20%;
		background: url("../images/4.png") no-repeat center;
		width: 60px;
		height: 75px;
	}

	.order-procedure-item4::after {
		content: "";
		position: absolute;
		top: -90px;
		left: 40%;
		background: url("../images/tool.png") no-repeat center;
		width: 140px;
		height: 65px;
	}

	.order-procedure-item5::before {
		content: "";
		position: absolute;
		top: -90px;
		left: 20%;
		background: url("../images/5.png") no-repeat center;
		width: 60px;
		height: 75px;
	}

	.order-procedure-item5::after {
		content: "";
		position: absolute;
		top: -90px;
		left: 40%;
		background: url("../images/credit_card.png") no-repeat center;
		width: 140px;
		height: 80px;
	}

	.portfolio-title {
		margin-top: 100px;
		text-align: center;
		font-family: 'Roboto-Light', sans-serif;
		font-size: 30px;
		font-weight: lighter;
		text-transform: uppercase;
		color: #253c68;
	}

	.portfolio-images-group_container {
		margin-bottom: 40px;
	}

	.portfolio-images-group_container div a > img {
		margin-bottom: 60px;
	}

	.portfolio-images-group {
		position: relative;
		display: flex;
		align-content: stretch;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: column;
		margin-top: 80px;
		width: 100%;
	}

	.portfolio-images-group2 {
		position: relative;
		display: none;
		align-content: stretch;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: column;
		margin-top: 0px;
		width: 100%;
	}

	.portfolio-images-group3 {
		position: relative;
		display: none;
		align-content: stretch;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: column;
		margin-top: 0px;
		width: 100%;
	}

	.portfolio-images-group a > img, .portfolio-images-group2 a > img, .portfolio-images-group3 a > img {
		min-width: 300px;
		min-height: 256px;
		max-width: 100%;
		margin: auto;
		cursor: pointer;
		box-shadow: 4px 4px 30px 0 rgba(209, 209, 209, 0.2);
	}

	.show_more_portfolio {
		display: block;
		text-align: center;
		color: orange;
		margin: auto;
		text-transform: uppercase;
		text-decoration: none;
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 20px;
		cursor: pointer;
	}
}

/* MEDIA QUERY 569 - 900 */

@media screen and (min-width: 569px) and (max-width: 900px) {
	.portfolio {
		position: relative;
	}

	.order-procedure-title {
		margin-top: 150px;
		text-align: center;
		font-family: 'Roboto-Light', sans-serif;
		font-weight: lighter;
		font-size: 30px;
		text-transform: uppercase;
		color: #253c68;
	}

	.order-procedure-title strong {
		font-family: 'Roboto-Light', sans-serif;
	}

	.order-procedure {
		margin-top: 120px;
		color: black;
		font-family: 'Roboto-Light', sans-serif;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-around;
		align-content: stretch;
	}

	.order-procedure p {
		position: relative;
		white-space: pre-line;
		margin-bottom: 100px;
	}

	.order-procedure p:last-of-type {
		margin-bottom: 0px;
	}

	.order-procedure-item1::before {
		content: "";
		position: absolute;
		top: -90px;
		left: 20%;
		background: url("../images/1.png") no-repeat center;
		width: 60px;
		height: 70px;
	}

	.order-procedure-item1::after {
		content: "";
		position: absolute;
		top: -90px;
		left: 40%;
		background: url("../images/man_phone.png") no-repeat center;
		width: 140px;
		height: 60px;
	}

	.order-procedure-item2::before {
		content: "";
		position: absolute;
		top: -90px;
		left: 20%;
		background: url("../images/2.png") no-repeat center;
		width: 60px;
		height: 75px;
	}

	.order-procedure-item2::after {
		content: "";
		position: absolute;
		top: -90px;
		left: 40%;
		background: url("../images/man_call.png") no-repeat center;
		width: 140px;
		height: 60px;
	}

	.order-procedure-item3::before {
		content: "";
		position: absolute;
		top: -90px;
		left: 20%;
		background: url("../images/3.png") no-repeat center;
		width: 60px;
		height: 75px;
	}

	.order-procedure-item3::after {
		content: "";
		position: absolute;
		top: -90px;
		left: 40%;
		background: url("../images/all_men.png") no-repeat center;
		width: 140px;
		height: 60px;
	}

	.order-procedure-item4::before {
		content: "";
		position: absolute;
		top: -90px;
		left: 20%;
		background: url("../images/4.png") no-repeat center;
		width: 60px;
		height: 75px;
	}

	.order-procedure-item4::after {
		content: "";
		position: absolute;
		top: -90px;
		left: 40%;
		background: url("../images/tool.png") no-repeat center;
		width: 140px;
		height: 65px;
	}

	.order-procedure-item5::before {
		content: "";
		position: absolute;
		top: -90px;
		left: 20%;
		background: url("../images/5.png") no-repeat center;
		width: 60px;
		height: 75px;
	}

	.order-procedure-item5::after {
		content: "";
		position: absolute;
		top: -90px;
		left: 40%;
		background: url("../images/credit_card.png") no-repeat center;
		width: 140px;
		height: 80px;
	}

	.portfolio-title {
		margin-top: 100px;
		text-align: center;
		font-family: 'Roboto-Light', sans-serif;
		font-size: 30px;
		font-weight: lighter;
		text-transform: uppercase;
		color: #253c68;
	}

	.portfolio-images-group_container {
		margin-bottom: 40px;
	}

	.portfolio-images-group_container div a > img {
		margin-bottom: 60px;
	}

	.portfolio-images-group {
		position: relative;
		display: flex;
		align-content: stretch;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: column;
		margin-top: 80px;
		width: 100%;
	}

	.portfolio-images-group2 {
		position: relative;
		display: none;
		align-content: stretch;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: column;
		margin-top: 0px;
		width: 100%;
	}

	.portfolio-images-group3 {
		position: relative;
		display: none;
		align-content: stretch;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: column;
		margin-top: 0px;
		width: 100%;
	}

	.portfolio-images-group a > img, .portfolio-images-group2 a > img, .portfolio-images-group3 a > img {
		min-width: 300px;
		min-height: 256px;
		max-width: 100%;
		margin: auto;
		cursor: pointer;
		box-shadow: 4px 4px 30px 0 rgba(209, 209, 209, 0.2);
	}

	.show_more_portfolio {
		display: block;
		text-align: center;
		color: orange;
		margin: auto;
		text-transform: uppercase;
		text-decoration: none;
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 20px;
		cursor: pointer;
	}
}

/* MEDIA QUERY 901 - 1100 */

@media screen and (min-width: 901px) and (max-width: 1100px) {
	.order-procedure {
		flex-wrap: wrap;
	}

	.order-procedure p {
		position: relative;
		white-space: pre-line;
		margin-left: 50px;
		margin-right: 50px;
		margin-bottom: 150px;
	}

	.order-procedure p:first-of-type {
		margin-left: 30px;
	}

	.portfolio-title {
		margin-top: 0;
	}

	.portfolio-images-group img, .portfolio-images-group2 img, .portfolio-images-group3 img {
		width: 290px;
		min-width: 290px;
	}
}

/* MEDIA QUERY 1101 - 1279 */

@media screen and (min-width: 1101px) and (max-width: 1279px) {
	.order-procedure {
		flex-wrap: wrap;
	}

	.order-procedure p {
		position: relative;
		white-space: pre-line;
		margin-left: 50px;
		margin-right: 90px;
		margin-bottom: 150px;
	}

	.order-procedure p:first-of-type {
		margin-left: 50px;
	}

	.portfolio-title {
		margin-top: 0;
	}

	.portfolio-images-group img, .portfolio-images-group2 img, .portfolio-images-group3 img {
		width: 290px;
		min-width: 290px;
	}
}
