﻿@font-face {
	font-family: "Roboto-Light";
	src: url("fonts/roboto-2014/Roboto-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto-Black";
	src: url("fonts/roboto-2014/Roboto-Black.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto-Regular";
	src: url("fonts/roboto-2014/Roboto-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto-Bold";
	src: url("fonts/roboto-2014/Roboto-Bold.ttf") format("truetype");
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #fff;
	font-family: 'Roboto-Light', 'Roboto-Black', 'Roboto-Regular', 'Roboto-Bold', 'Times New Roman', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: white;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow-x: hidden;
	-webkit-text-size-adjust: 100%;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 1920px;
	margin: 0 auto;
	max-width: 100%;
	overflow-x: hidden;
}

@media screen and (min-width: 1025px) {
	.sticky {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 5000;
		background: rgba(146, 148, 153, 0.7) !important;
		min-height: 80px;
	}
}

/*LANDING PAGE CODE*/

.page_header {
	background: #070d10;
	min-height: 80px;
	width: 100%;
}

.page_header_top {
	position: relative;
	display: flex;
	justify-content: space-around;
	overflow: hidden;
}

.page_header_top .page_header_languagepicker {
	list-style-type: none;
	position: absolute;
	right: 20%;
	top: 0;
}

.page_header_top .page_header_languagepicker .languagepicker_item a {
	text-decoration: none;
	color: #fff;
	font-family: 'Roboto-Bold','Times New Roman', sans-serif;
	font-size: 16px;
	line-height: normal;
	text-transform: uppercase;
}

.page_header_top .page_header_languagepicker .languagepicker_item a:hover {
	color: orange;
}

.page_header_top .page_header_languagepicker .languagepicker_item a:focus {
	color: orange;
}

.main_nav {
	display: inline-block;
	box-sizing: border-box;
	order: 2;
}

.main_nav ul {
	margin-top: 30px;
	list-style-type: none;
	text-align: center;
}

.main_nav ul > li {
	display: inline-block;
	padding: 5px;
	margin-right: 15px;
	cursor: pointer;
}

.main_nav ul > li:last-of-type {
	margin-right: 0;
}

.main_nav ul > li > a {
	text-decoration: none;
	font-size: 18px;
	font-family: 'Roboto-Bold', sans-serif;
	color: white;
}

.main_nav ul > li > a:hover, .main_nav ul > li > a:focus {
	color: orange;
}

.page_header_location {
	display: inline-block;
	position: relative;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 16px;
	line-height: normal;
	margin-top: 10px;
	box-sizing: border-box;
	order: 1;
}

#email, #coordinates {
	display: block;
	position: relative;
}

#coordinates {
	text-align: right;
}

#email::before {
	content: "";
	position: absolute;
	left: -50px;
	top: -15px;
	width: 50px;
	height: 50px;
	background: url("images/mail.png") no-repeat center;
}

#coordinates::before {
	content: "";
	position: absolute;
	left: 30px;
	top: -15px;
	width: 50px;
	height: 50px;
	background: url("images/coordinates.png") no-repeat center;
}

.page_header_contacts {
	display: inline-block;
	position: relative;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 16px;
	line-height: normal;
	box-sizing: border-box;
	order: 3;
}

.page_header_contacts::before {
	content: "";
	position: absolute;
	top: 30px;
	left: -35px;
	width: 50px;
	height: 50px;
	background: url("images/phone.png") no-repeat;
}

.displayflex {
	display: flex !important;
}

.hero_screen {
	position: relative;
	display: inline-block;
	text-align: center;
	background: url("images/hero_screen_bg.png") no-repeat;
	min-height: 600px;
	font-family: 'Roboto-Bold', sans-serif;
}

.hero_screen .hero_screen_title {
	margin-top: 150px;
	text-transform: uppercase;
	font-size: 41px;
	margin-bottom: 0;
}

.hero_screen .hero_screen_title_description {
	font-size: 22px;
	white-space: pre-line;
	font-family: 'Roboto-Bold', sans-serif;
}

.hero_screen_bottom {
	position: relative;
}

.button.to-feedback-form {
	position: relative;
	display: inline-block;
	min-width: 400px;
	min-height: 60px;
	margin-top: 50px;
	margin-bottom: 60px;
	font: 18px "Roboto-Bold", sans-serif;
	text-align: center;
	background-color: #d64851;
	border: none;
	border-radius: 10px;
	color: #fff;
	line-height: 46px;
	cursor: pointer;
}

.to-feedback-form:hover, .to-feedback-form:focus {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1));
}

.feedback-forms-container {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 4999;
	overflow: auto;
	display: none;
}

.feedback-form, .benefits-feedback-form {
	position: relative;
	padding: 50px;
	background-color: rgb(249, 249, 249);
	border-style: none;
	border-color: rgb(0, 0, 0);
	border-width: 1px;
	border-radius: 8px;
	box-shadow: rgba(2, 2, 2, 0.23) 1px 1px 3px 0px;
	opacity: 1;
	display: none;
	width: 400px;
	top: 20%;
	left: 0%;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 2000;
}

.feedback-form input[type="text"], .feedback-form input[type="email"], .feedback-form input[type="tel"] {
	display: block;
	height: 50px;
	width: 300px;
	margin-top: 20px;
	margin-left: 30px;
	border: none;
	padding-left: 40px;
	text-align: left;
	box-shadow: rgba(2, 2, 2, 0.23) 0px -1px 2px 1px;
	font-size: 16px;
	font-family: 'Roboto-Light', sans-serif;
	text-overflow: ellipsis;
}

.feedback-form input[type="text"] {
	background-image: url("images/avatarform.png");
	background-repeat: no-repeat;
	background-position: 10px center;
}

.feedback-form input[type="email"] {
	background-image: url("images/mailform.png");
	background-repeat: no-repeat;
	background-position: 10px center;
}

.feedback-form input[type="tel"] {
	background-image: url("images/mobileform.png");
	background-repeat: no-repeat;
	background-position: 10px center;
}

.feedback-form button {
	margin-top: 30px;
	display: inline-block;
	padding: 15px 30px;
	color: #fff;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 18px;
	background: #dc424e;
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
}

.feedback-form button:hover, .feedback-form button:focus {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1));
}

.feedback-form span, .benefits-feedback-form span {
	display: inline-block;
	color: black;
	font-size: 26px;
	font-family: 'Roboto-Light', sans-serif;
}

.feedback-form-remover, .benefits-feedback-form-remover {
	position: absolute;
	top: -8px;
	right: -8px;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background-color: #dc424e;
	cursor: pointer;
}

.feedback-form-remover::before, .benefits-feedback-form-remover::before {
	content: "";
	position: absolute;
	top: 4px;
	right: 12px;
	width: 5px;
	height: 22px;
	transform: rotate(45deg);
	background: white;
}

.feedback-form-remover::after, .benefits-feedback-form-remover::after {
	content: "";
	position: absolute;
	top: 4px;
	right: 12px;
	width: 5px;
	height: 22px;
	transform: rotate(135deg);
	background: white;
}

#mouse {
	display: block;
	margin: auto;
}

.to-top {
	position: fixed;
	display: none;
	top: 90%;
	right: 40px;
	border: transparent;
	border-radius: 50%;
	padding: 30px;
	background: url("images/topArrow.png") #253c68 no-repeat center;
	cursor: pointer;
	z-index: 200;
}

.main {
	position: relative;
}

.main #about_us_pic {
	float: right;
	width: 500px;
	height: 425px;
	max-width: 100%;
	margin-right: 10%;
}

.main-title {
	position: relative;
	text-align: left;
	margin-top: 150px;
	margin-left: 10%;
	font-family: 'Roboto-Light', sans-serif;
	font-size: 30px;
	white-space: pre-line;
	text-transform: uppercase;
	color: #253c68;
}

.main-title-tip {
	position: relative;
	display: inline-block;
	white-space: pre-line;
	text-align: left;
	margin-top: 20px;
	margin-left: 15%;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 20px;
	color: #253c68;
}

.main-title-tip::before {
	content: "";
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0%;
	left: -10%;
	background: url("images/quotes_open.png") no-repeat;
}

.main-title-tip::after {
	content: "";
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: -5%;
	right: 22%;
	background: url("images/quotes_open.png") no-repeat;
}

.main-title-description {
	display: inline-block;
	white-space: pre-line;
	font-family: 'Roboto-Bold', sans-serif;
	margin-top: 150px;
	margin-left: 10%;
	font-size: 20px;
	color: black;
	margin-bottom: 250px;
}

.benefits {
	min-height: 900px;
	position: relative;
	background: url("images/benefits_bg.png") center no-repeat;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.benefits-title {
	display: block;
	margin-top: 200px;
	text-align: left;
	margin-left: 10%;
	font-family: 'Roboto-Light', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	white-space: pre-line;
	color: #fff;
}

.benefits-tip {
	display: block;
	text-align: left;
	margin-top: 50px;
	margin-left: 10%;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 18px;
	white-space: pre-line;
	color: #fff;
}

.benefits-item-first {
	position: relative;
	display: block;
	align-self: flex-end;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 20px;
	margin-top: -450px;
	margin-right: 10%;
}

#ukr-ben-item-first {
	min-width: 395px;
}

#ukr-ben-item-second {
	min-width: 375px;
}

#ukr-ben-item-third {
	min-width: 395px;
}

#eng-ben-item-first {
	min-width: 360px;
}

#eng-ben-item-second {
	min-width: 340px;
}

#eng-ben-item-third {
	min-width: 360px;
}

.benefits-item-first p, .benefits-item-second p, .benefits-item-third p {
	font-size: 18px;
	white-space: pre-line;
}

.benefits-item-first::before {
	content: "";
	position: absolute;
	top: 20%;
	left: -30%;
	background: url("images/cash.png") no-repeat;
	width: 65px;
	height: 65px;
}

.benefits-item-second {
	position: relative;
	display: block;
	align-self: flex-end;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 20px;
	margin-right: 11.5%;
}

.benefits-item-second::before {
	content: "";
	position: absolute;
	top: 20%;
	left: -30%;
	background: url("images/helmet.png") no-repeat;
	width: 65px;
	height: 65px;
}

.benefits-item-third {
	position: relative;
	display: block;
	align-self: flex-end;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 20px;
	margin-right: 10%;
}

.benefits-item-third::before {
	content: "";
	position: absolute;
	top: 20%;
	left: -30%;
	background: url("images/approve.png") no-repeat;
	width: 65px;
	height: 65px;
}

.diamond-drilling-benefits {
	position: relative;
	padding-bottom: 200px;
}

.diamond-drilling-title {
	margin-top: 200px;
	text-align: center;
	font-family: 'Roboto-Light', sans-serif;
	font-weight: lighter;
	font-size: 30px;
	text-transform: uppercase;
	color: #253c68;
}

.diamond-drilling-title strong {
	font-family: 'Roboto-Light', sans-serif;
}

.diamond-benefits-item-group_container {
	display: flex;
	justify-content: space-around;
	margin: auto;
}

.diamond-benefits-item-group-first, .diamond-benefits-item-group-second {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

.diamond-benefits-item1 {
	position: relative;
	color: black;
	font-family: 'Roboto-Regular', sans-serif;
	margin-bottom: 40px;
	white-space: pre-line;
}

.diamond-benefits-item1 h3 {
	margin-bottom: -10px;
}

.diamond-benefits-item1::before {
	content: "";
	position: absolute;
	top: 30px;
	left: -90px;
	background: url("images/volume.png") no-repeat;
	width: 65px;
	height: 65px;
}

.diamond-benefits-item2 {
	position: relative;
	color: black;
	font-family: 'Roboto-Regular', sans-serif;
	margin-bottom: 40px;
	white-space: pre-line;
}

.diamond-benefits-item2 h3 {
	margin-bottom: -10px;
}

.diamond-benefits-item2::before {
	content: "";
	position: absolute;
	top: 30px;
	left: -90px;
	background: url("images/groom.png") no-repeat;
	width: 65px;
	height: 65px;
}

.diamond-benefits-item3 {
	position: relative;
	color: black;
	font-family: 'Roboto-Regular', sans-serif;
	margin-bottom: 0px;
	white-space: pre-line;
}

.diamond-benefits-item3 h3 {
	margin-bottom: -10px;
}

.diamond-benefits-item3::before {
	content: "";
	position: absolute;
	top: 30px;
	left: -90px;
	background: url("images/brick.png") no-repeat;
	width: 65px;
	height: 65px;
}

.diamond-benefits-item4 {
	position: relative;
	color: black;
	font-family: 'Roboto-Regular', sans-serif;
	margin-bottom: 40px;
	white-space: pre-line;
}

.diamond-benefits-item4 h3 {
	margin-bottom: -10px;
}

.diamond-benefits-item4::before {
	content: "";
	position: absolute;
	top: 30px;
	left: -85px;
	background: url("images/time.png") no-repeat;
	width: 65px;
	height: 65px;
}

.diamond-benefits-item5 {
	position: relative;
	font-family: 'Roboto-Regular', sans-serif;
	color: black;
	margin-bottom: 40px;
	white-space: pre-line;
}

.diamond-benefits-item5 h3 {
	margin-bottom: -10px;
}

.diamond-benefits-item5::before {
	content: "";
	position: absolute;
	top: 30px;
	left: -85px;
	background: url("images/crown.png") no-repeat;
	width: 65px;
	height: 65px;
}

.diamond-benefits-item6 {
	position: relative;
	font-family: 'Roboto-Regular', sans-serif;
	color: black;
	margin-bottom: 0px;
	white-space: pre-line;
}

.diamond-benefits-item6 h3 {
	margin-bottom: -10px;
}

.diamond-benefits-item6::before {
	content: "";
	position: absolute;
	top: 30px;
	left: -85px;
	background: url("images/aim.png") no-repeat;
	width: 65px;
	height: 65px;
}

#boer {
	max-width: 100%;
	margin-top: 150px;
	width: 200px;
	height: 300px;
}

.diamond-drilling-benefits-bottom {
	display: block;
	margin-top: 100px;
	margin-bottom: 60px;
	font-size: 17px;
	color: #fba419;
	text-align: center;
	font-family: 'Roboto-Bold', sans-serif;
}

.to-benefits-feedback-form {
	position: relative;
	display: block;
	min-width: 400px;
	min-height: 60px;
	margin: auto;
	font: 18px "Roboto-Bold", sans-serif;
	text-align: center;
	background-color: #d64851;
	border: none;
	border-radius: 10px;
	color: #fff;
	line-height: 46px;
	cursor: pointer;
}

.to-benefits-feedback-form:hover, .to-benefits-feedback-form:focus {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1));
}

.benefits-feedback-form input[type="text"], .benefits-feedback-form input[type="email"], .benefits-feedback-form input[type="tel"] {
	display: block;
	height: 50px;
	width: 300px;
	margin-top: 20px;
	margin-left: 30px;
	border: none;
	padding-left: 40px;
	text-align: left;
	box-shadow: rgba(2, 2, 2, 0.23) 0px -1px 2px 1px;
	font-size: 16px;
	font-family: 'Roboto-Light', sans-serif;
	text-overflow: ellipsis;
}

.benefits-feedback-form input[type="text"] {
	background-image: url("images/avatarform.png");
	background-repeat: no-repeat;
	background-position: 10px center;
}

.benefits-feedback-form input[type="email"] {
	background-image: url("images/mailform.png");
	background-repeat: no-repeat;
	background-position: 10px center;
}

.benefits-feedback-form input[type="tel"] {
	background-image: url("images/mobileform.png");
	background-repeat: no-repeat;
	background-position: 10px center;
}

.benefits-feedback-form input[type="submit"] {
	margin-top: 30px;
	display: inline-block;
	padding: 15px 30px;
	color: #fff;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 18px;
	background: #dc424e;
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
}

.prices {
	position: relative;
	background: url("images/prices_bg.png") center no-repeat;
	background-size: cover;
}

.prices-title {
	margin-top: 150px;
	text-align: center;
	font-family: 'Roboto-Light', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;
}

.works-range {
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	align-content: stretch;
}

.works-range-item1, .works-range-item2, .works-range-item3 {
	border-collapse: collapse;
	min-width: 250px;
	min-height: 350px;
	font-family: 'Roboto-Bold', sans-serif;
	text-align: center;
}

.works-range-item1 tr:nth-of-type(1), .works-range-item2 tr:nth-of-type(1), .works-range-item3 tr:nth-of-type(1) {
	background-color: rgb(36, 47, 88);
	min-height: 30px;
	font-size: 20px;
	font-family: 'Roboto-Light', sans-serif;
}

.works-range-item1 tr:last-of-type, .works-range-item2 tr:last-of-type, .works-range-item3 tr:last-of-type {
	background-color: rgb(36, 47, 88);
	font-family: 'Roboto-Regular', sans-serif;
	min-height: 50px;
	font-size: 20px;
}

.works-range-item1 tr:nth-of-type(2), .works-range-item2 tr:nth-of-type(2), .works-range-item3 tr:nth-of-type(2) {
	background-color: rgb(47, 59, 104);
}

.works-range-item1 tr:nth-of-type(2) b, .works-range-item2 tr:nth-of-type(2) b, .works-range-item3 tr:nth-of-type(2) b {
	text-transform: uppercase;
	font-size: 50px;
}

.works-range-item1 tr:nth-of-type(2) i, .works-range-item2 tr:nth-of-type(2) i, .works-range-item3 tr:nth-of-type(2) i {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	font-style: normal;
}

.works-range-item1 tr:nth-of-type(3), .works-range-item1 tr:nth-of-type(5), .works-range-item2 tr:nth-of-type(3), .works-range-item2 tr:nth-of-type(5), .works-range-item3 tr:nth-of-type(3), .works-range-item3 tr:nth-of-type(5) {
	background-color: #f0f1f2;
	color: #27335c;
}

.works-range-item1 tr:nth-of-type(4), .works-range-item1 tr:nth-of-type(6), .works-range-item2 tr:nth-of-type(4), .works-range-item2 tr:nth-of-type(6), .works-range-item3 tr:nth-of-type(4), .works-range-item3 tr:nth-of-type(6) {
	background-color: #dddfe0;
	color: #27335c;
}

.price-look {
	text-align: center;
	position: relative;
	margin-top: 80px;
	margin-bottom: 150px;
}

.to-price-look {
	position: relative;
	text-transform: uppercase;
	text-decoration: none;
	color: #dd911b;
	font-family: "Roboto-Bold", sans-serif;
	font-size: 20px;
}

.to-price-look::after {
	content: '';
	position: absolute;
	top: 5px;
	left: calc(100% + 20px);
	width: 22px;
	height: 15px;
	background: url("images/arrow.png") no-repeat center;
}

.to-price-look:hover, .to-price-look:focus {
	opacity: 0.7;
	transition: .4s;
	padding-left: 10px;
}

.portfolio {
	position: relative;
}

.order-procedure-title {
	margin-top: 200px;
	text-align: center;
	font-family: 'Roboto-Light', sans-serif;
	font-weight: lighter;
	font-size: 30px;
	text-transform: uppercase;
	color: #253c68;
}

.order-procedure-title strong {
	font-family: 'Roboto-Light', sans-serif;
}

.order-procedure {
	margin-top: 120px;
	color: black;
	font-family: 'Roboto-Light', sans-serif;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-content: stretch;
}

.order-procedure p {
	position: relative;
	white-space: pre-line;
}

.order-procedure-item1::before {
	content: "";
	position: absolute;
	top: -90px;
	left: 10px;
	background: url("images/1.png") no-repeat center;
	width: 60px;
	height: 70px;
}

.order-procedure-item1::after {
	content: "";
	position: absolute;
	top: -90px;
	left: 80px;
	background: url("images/man_phone.png") no-repeat center;
	width: 140px;
	height: 60px;
}

.order-procedure-item2::before {
	content: "";
	position: absolute;
	top: -90px;
	left: 10px;
	background: url("images/2.png") no-repeat center;
	width: 60px;
	height: 75px;
}

.order-procedure-item2::after {
	content: "";
	position: absolute;
	top: -90px;
	left: 80px;
	background: url("images/man_call.png") no-repeat center;
	width: 140px;
	height: 60px;
}

.order-procedure-item3::before {
	content: "";
	position: absolute;
	top: -90px;
	left: 10px;
	background: url("images/3.png") no-repeat center;
	width: 60px;
	height: 75px;
}

.order-procedure-item3::after {
	content: "";
	position: absolute;
	top: -90px;
	left: 80px;
	background: url("images/all_men.png") no-repeat center;
	width: 140px;
	height: 60px;
}

.order-procedure-item4::before {
	content: "";
	position: absolute;
	top: -90px;
	left: 10px;
	background: url("images/4.png") no-repeat center;
	width: 60px;
	height: 75px;
}

.order-procedure-item4::after {
	content: "";
	position: absolute;
	top: -90px;
	left: 80px;
	background: url("images/tool.png") no-repeat center;
	width: 140px;
	height: 65px;
}

.order-procedure-item5::before {
	content: "";
	position: absolute;
	top: -90px;
	left: 10px;
	background: url("images/5.png") no-repeat center;
	width: 60px;
	height: 75px;
}

.order-procedure-item5::after {
	content: "";
	position: absolute;
	top: -90px;
	left: 80px;
	background: url("images/credit_card.png") no-repeat center;
	width: 140px;
	height: 80px;
}

.portfolio-title {
	margin-top: 100px;
	text-align: center;
	font-family: 'Roboto-Light', sans-serif;
	font-size: 30px;
	font-weight: lighter;
	text-transform: uppercase;
	color: #253c68;
}

.portfolio-images-group_container {
	margin-bottom: 100px;
	overflow: hidden;
}

.portfolio-images-group {
	position: relative;
	display: flex;
	align-content: stretch;
	justify-content: space-around;
	margin-top: 80px;
	width: 100%;
}

.portfolio-images-group2 {
	position: relative;
	display: none;
	align-content: stretch;
	justify-content: space-around;
	margin-top: 80px;
	width: 100%;
}

.portfolio-images-group3 {
	position: relative;
	display: none;
	align-content: stretch;
	justify-content: space-around;
	margin-top: 80px;
	width: 100%;
}

.portfolio-images-group a,
.portfolio-images-group2 a,
.portfolio-images-group3 a {
	text-decoration: none;
}

.portfolio-images-group a > img, .portfolio-images-group2 a > img, .portfolio-images-group3 a > img {
	min-width: 300px;
	min-height: 256px;
	max-width: 100%;
	cursor: pointer;
	box-shadow: 4px 4px 30px 0 rgba(209, 209, 209, 0.2);
}

.show_more_portfolio {
	display: block;
	text-align: center;
	color: orange;
	margin: auto;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 20px;
	cursor: pointer;
}

.show_more_portfolio:hover, .show_more_portfolio:focus {
	transition: .4s;
	opacity: 0.7;
	padding-left: 10px;
}

.clients {
	position: relative;
	margin-bottom: 200px;
}

.clients-title {
	margin-top: 200px;
	text-align: center;
	font-family: 'Roboto-Light', sans-serif;
	font-size: 30px;
	font-weight: lighter;
	text-transform: uppercase;
	color: #253c68;
}

.clients-range {
	margin-top: 150px;
	color: #253c68;
	display: flex;
	justify-content: space-around;
	align-content: stretch;
	overflow: hidden;
}

.clients-range div {
	text-align: center;
	position: relative;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 18px;
	line-height: 28px;
	cursor: pointer;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	padding: 20px 0 20px 0;
}

.clients-range div p {
	white-space: pre-line;
	margin-top: -10px;
}

.clients-range div:hover, .clients-range div:hover {
	border-top: 4px solid orange;
	border-bottom: 4px solid orange;
	transition: .4s;
}

.clients-range div:focus, .clients-range div:focus {
	border-top: 4px solid orange;
	border-bottom: 4px solid orange;
	transition: .4s;
}

.feedbacks {
	position: relative;
	margin-bottom: 200px;
}

.feedbacks-title {
	margin-top: 0px;
	margin-bottom: 140px;
	text-align: center;
	font-family: 'Roboto-Light', sans-serif;
	font-size: 30px;
	font-weight: lighter;
	text-transform: uppercase;
	color: #253c68;
}

.feedbacks-item-group {
	position: relative;
	display: flex;
	align-content: stretch;
	min-height: 300px;
	margin: auto;
	width: 1600px;
	cursor: pointer;
}

.feedbacks-item-group .slick-dots {
	left: -5%;
	cursor: pointer;
}

.feedbacks-item-group .slick-dots li {
	padding: 10px;
}

#novikov, #denisovich {
	width: 180px;
	min-height: 244px;
	max-width: 100%;
	display: inline-block;
}

.feedbacks-item1, .feedbacks-item2 {
	position: relative;
}

.feedbacks-item1 h3, .feedbacks-item2 h3 {
	color: #253c68;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 18px;
	position: absolute;
	top: 0;
	left: 250px;
}

.feedbacks-item1 p, .feedbacks-item2 p {
	font-family: "Roboto-Light", sans-serif;
	position: relative;
	text-align: left;
	font-size: 14px;
	line-height: 20px;
	margin-top: -200px;
	margin-left: 250px;
	color: #000;
	white-space: pre-line;
	max-width: 500px;
}

.page-footer {
	position: relative;
	background: url("images/footer_bg.png") no-repeat center;
	background-size: cover;
}

.page-footer-title {
	margin-top: 150px;
	margin-bottom: 40px;
	text-align: center;
	font-family: 'Roboto-Light', sans-serif;
	font-size: 30px;
	font-weight: lighter;
	text-transform: uppercase;
	color: #fff;
}

.page-footer-title-tip {
	position: relative;
	white-space: pre-line;
	text-align: left;
	margin-left: 36%;
	margin-bottom: 80px;
	max-width: 600px;
	font-family: "Roboto-Bold", sans-serif;
	font-size: 20px;
}

.page-footer-title-tip::before {
	content: "";
	position: absolute;
	top: -5px;
	left: -30px;
	width: 18px;
	height: 15px;
	background: url("images/quotes_footer.png") no-repeat;
}

.page-footer-title-tip::after {
	content: "";
	position: absolute;
	bottom: 5px;
	right: -10px;
	width: 18px;
	height: 15px;
	background: url("images/quotes_footer.png") no-repeat;
}

.page-footer-feedback-form {
	position: relative;
	display: flex;
	align-content: stretch;
	justify-content: space-around;
	width: 1000px;
	margin: auto;
}

.page-footer-feedback-form input[type="text"], .page-footer-feedback-form input[type="email"], .page-footer-feedback-form input[type="tel"] {
	display: inline-block;
	min-height: 50px;
	min-width: 210px;
	margin-right: 20px;
	border: none;
	border-radius: 5px;
	padding-left: 40px;
	text-align: left;
	font-size: 16px;
	font-family: 'Roboto-Light', sans-serif;
	text-overflow: ellipsis;
}

.page-footer-feedback-form input[type="text"] {
	background-image: url("images/avatarform.png");
	background-repeat: no-repeat;
	background-position: 10px center;
}

.page-footer-feedback-form input[type="email"] {
	background-image: url("images/mailform.png");
	background-repeat: no-repeat;
	background-position: 10px center;
}

.page-footer-feedback-form input[type="tel"] {
	background-image: url("images/mobileform.png");
	background-repeat: no-repeat;
	background-position: 10px center;
}

.footer-bottom {
	margin-top: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	align-content: stretch;
	justify-content: space-around;
	width: 1000px;
	margin: auto;
	position: relative;
	font-family: 'Roboto-Regular', sans-serif;
}

.footer-email, .footer-phone, .footer-adress {
	position: relative;
	font-size: 16px;
	line-height: 1;
	box-sizing: border-box;
	margin-left: 100px;
}

.footer-email::before {
	content: "";
	position: absolute;
	top: 18%;
	left: -100px;
	width: 60px;
	height: 50px;
	background: url("images/mailfoot.png") no-repeat;
}

.footer-phone::before {
	content: "";
	position: absolute;
	top: 18%;
	left: -100px;
	width: 60px;
	height: 60px;
	background: url("images/mobfoot.png") no-repeat;
}

.footer-adress::before {
	content: "";
	position: absolute;
	top: 18%;
	left: -100px;
	width: 60px;
	height: 60px;
	background: url("images/locfoot.png") no-repeat;
}

#loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(240, 240, 240, 0.91);
	overflow: hidden;
	display: none;
}

#loader img {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 50%;
	margin-left: -25px;
	top: 50%;
	margin-top: -25px;
	z-index: 9999;
}

#overlay {
	display: none;
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	background: #000c;
	left: 0px;
	top: 0px;
	cursor: pointer;
	z-index: 9999;
}

#thx {
	background: #fff;
	position: fixed;
	color: #000;
	z-index: 9999;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	padding-top: 300px;
	width: 100%;
	height: 100%;
	text-align: center;
}

.feedback-form {
	text-align: center;
}

.page-footer button {
	display: inline-block;
	padding: 15px 30px;
	color: #fff;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 18px;
	background: #dc424e;
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
}

.page-footer button:hover, .page-footer button:focus {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1));
}

.page-footer-feedback-form label#name-error {
	position: absolute;
	top: 100%;
	left: 4%;
	font-size: 12px;
	color: red;
	z-index: 5;
}

.page-footer-feedback-form label#getGA-error {
	position: absolute;
	top: 100%;
	left: 31%;
	font-size: 12px;
	color: red;
	z-index: 5;
}

.page-footer-feedback-form label#tel-error {
	position: absolute;
	top: 100%;
	left: 59%;
	font-size: 12px;
	color: red;
	z-index: 5;
}

.feedback-form label#name-error {
	font-size: 12px;
	color: red;
	display: block;
	line-height: 1.4;
	margin-bottom: -10px;
}

.feedback-form label#tel-error {
	font-size: 12px;
	color: red;
	display: block;
	line-height: 1.4;
	margin-bottom: -10px;
}

.feedback-form label#getGA-error {
	font-size: 12px;
	color: red;
	display: block;
	line-height: 1.4;
	margin-bottom: -10px;
}

/* ADDITIONAL INPUTS STYLE IN FORMS */

input, textarea, button, select, a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: none;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* BURGER MENU */

.header_burger {
	display: none;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.header_burger_bars {
	display: inline-block;
	width: auto;
	margin: 0 auto;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
}

.middle {
	margin: 0 auto;
}

.bar {
	display: block;
	height: 5px;
	width: 50px;
	background: #fff;
	margin: 10px auto;
}

.transformFirstBar {
	-webkit-transform: translateY(15px) rotateZ(45deg);
	-moz-transform: translateY(15px) rotateZ(45deg);
	-ms-transform: translateY(15px) rotateZ(45deg);
	-o-transform: translateY(15px) rotateZ(45deg);
	transform: translateY(15px) rotateZ(45deg);
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
	background-color: orange;
}

.transformSecondBar {
	width: 0;
	background-color: orange;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
}

.transformThirdBar {
	-webkit-transform: translateY(-15px) rotateZ(-45deg);
	-moz-transform: translateY(-15px) rotateZ(-45deg);
	-ms-transform: translateY(-15px) rotateZ(-45deg);
	-o-transform: translateY(-15px) rotateZ(-45deg);
	transform: translateY(-15px) rotateZ(-45deg);
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
	background-color: orange;
}
